.PageMainContainer {
  position: relative;
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ProductMainContainer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 5px;
}

.ProductContainer {
  width: 100%;
  height: 100%;
}

.ProductImage {
  width: 100%;
  height: 100%;
}

.Btn {
  width: fit-content;
  bottom: 0;
}
