:root{
    --bg-color: white;
    --color: black;
    --btn-color: black;
    --btn-text-color: white;
}
/* root is used as a place for me to define a variable */
/* variable is defined in css by --var-name */

[theme = "Dark"]{
    --bg-color:black;
    --color:white;
    --btn-color:white;
    --btn-text-color: black;
}
/* the [ key : value ] in here is used to target an element in the jsx that has the attributes of this   */

body{
    background-color: var(--bg-color);
    color: var(--color);
    transition-duration: 0.5s;
}

input{
    background-color:var(--btn-color) ;
    color: var(--btn-text-color) ;
    font-family: monospace;
}